<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="URL" value ="https://portaldemo.prodo.com/"/>
		<add key ="username" value ="lewis.moorcroft+tenant@prodo.com"/>
		<add key ="DashURL" value ="https://portaldemo.prodo.com/dashboard/"/>
		<add key ="AccURL" value ="https://portaldemo.prodo.com/transactions/"/>
		
	</appSettings>
</configuration>